@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}


.landing-pic{
    /* padding-left: 8rem; */
    animation: morph 5s ease-in-out infinite ;
    /* border: 0.01rem solid black; */
    /* width: 30rem; */
    /* height: 30rem; */
    /* background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
    /* -webkit-background-size: cover; */
    transition: all 1s ease-in-out;
    /* box-shadow: 0px 2px 5px 5px rgb(15, 20, 30); */
 }
 
 @keyframes morph {
   0% {
     border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   }
 
   50% {
     border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
   }
 
   100% {
     border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   }
 }

 .cup-wrapper{
  position: relative;
  width: 50%;
 }
 .cup{
  position: absolute;
  bottom: 0;

 }
 .steam-wrapper{
  position: absolute;
  left:25%;
  transform: translateX(-50%);
  bottom: 100px;
  /* height: 200px; */
 }
.smoke, .smoke2, .smoke3{
  filter: blur(5px);
  transform-origin: 50% 50%;
  animation: smoke1 3s linear infinite;
  animation-delay: 0.5s;
}
.smoke3{
  animation: smoke3 4s linear infinite;
  animation-delay: 2.5s;
  width:500px;
}
.smoke2{
  animation: smoke2 3s linear infinite;
  animation-delay: 1.5s;
}


@keyframes smoke1{
  0%{
    filter: blur(0px);
    transform: translateY(0px) scale(-1, 0.15);
    opacity: 0;
  }
  25%{
    filter: blur(3px);
    transform: translateY(-10px) scale(-1, 1.05);
    opacity: 0.5;
  }
  50%{
    filter: blur(5px);
    transform: translateY(-20px) scale(-1, 1.1);
    opacity: 1;
  }
  75%{
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.5;
  }
  100%{
    filter: blur(7px);
    transform: translateY(-40px) scale(-1, 1.2);
    opacity: 0;
  }
  
}

@keyframes smoke2{
  0%{
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  25%{
    filter: blur(3px);
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;
  }
  50%{
    filter: blur(5px);
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }
  75%{
    filter: blur(5px);
    transform: translateY(-30px) scale(1.15);
    opacity: 0.5;
  }
  100%{
    filter: blur(7px);
    transform: translateY(-40px) scale(1.2);
    opacity: 0;
  }
  
}

@keyframes smoke3{
  0%{
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  25%{
    filter: blur(3px);
    transform: translateY(-20px) scale(1.05);
    opacity: 0.5;
  }
  50%{
    filter: blur(5px);
    transform: translateY(-40px) scale(1.1);
    opacity: 1;
  }
  75%{
    filter: blur(5px);
    transform: translateY(-60px) scale(1.15);
    opacity: 0.5;
  }
  100%{
    filter: blur(7px);
    transform: translateY(-80px) scale(1.2);
    opacity: 0;
  }
  
}